        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="index.html">
                        Home page
                    </a>
                </li>
                <li>
                    <a href="lessons\hw1.html">HW1 - Git & Github </a>
                </li>
                <li>
                    <a href="lessons\hw2.html">HW2 - Network </a>
                </li>
                <li>
                    <a href="lessons\hw3/index.html">HW3 - HTML </a>
                </li>
                <li>
                    <a href="lessons\hw4.html">HW4 - RWD Homework </a>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->